
/* section specific classes */
g.VenueSection.Section1 {
    transform: scale(.07, -.07) translate(-1000px, -42800px);
}
g.VenueSection.Section1 text {
    transform: scale(9, -9) translate(435px, -435px);
}

g.VenueSection.Section2 {
    transform: scale(.042, -.042) translate(9300px, -71670px);
}
g.VenueSection.Section2 text {
    transform: scale(16, -16) translate(280px, -440px);
}
/* end section specific classes */



g.VenueSection {
    fill: #dbd5ed;
    stroke: #9881db;
    z-index: 9999;
}

g.VenueSection.VenueSection--disabled {
    fill: #ffffff;
    stroke: #707070;
}

g.VenueSection.VenueSection--selected {
    fill: #e6f4f3;
    stroke: #777777;
}

g.VenueSection:hover {
    fill: #e6f4f3;
    stroke: #3d9cae;
    cursor: pointer;
}

g.VenueSection.VenueSection--selected:hover {
    fill: #e6f4f3;
    stroke: #777777;
    cursor: pointer;
}

g.VenueSection.VenueSection--disabled:hover {
    fill: #ffffff;
    stroke: #707070;
}

g.VenueSection text {
    font-family: 'Helvetica';
    fill: #000;
    stroke: #2e2e2e;
}

g.VenueSection:hover text {
    fill: #000;
    stroke: #2e2e2e;
    cursor: pointer;
}

g.VenueSection.VenueSection--selected:hover text {
    fill: #000;
    stroke: #2e2e2e;
    cursor: pointer;
}

g.VenueSection.VenueSection--disabled:hover text {
    fill: #000;
    stroke: #2e2e2e;
}