
/* section specific classes */
g.VenueSection.Section1 {
    transform: scale(.07, -.07) translate(-1000px, -42800px);
}
g.VenueSection.Section1 text {
    transform: scale(9, -9) translate(435px, -435px);
}

g.VenueSection.Section2 {
    transform: scale(.042, -.042) translate(9300px, -71670px);
}
g.VenueSection.Section2 text {
    transform: scale(16, -16) translate(280px, -440px);
}

g.VenueSection.Section3 {
    transform: scale(.042, -.042) translate(18300px, -71670px);
}
g.VenueSection.Section3 text {
    transform: scale(16, -16) translate(112px, -442px);
}

g.VenueSection.Section4 {
    transform: scale(.07, -.07) translate(14000px, -42800px);
}
g.VenueSection.Section4 text {
    transform: scale(10, -10) translate(330px, -400px);
}

g.VenueSection.Section201 {
    transform: scale(.5, .5) translate(-910px, 4420px);
}
g.VenueSection.Section201 text {
    transform: scale(1.4, 1.4) translate(330px, 400px);
}

g.VenueSection.Section202 {
    transform: scale(.459, .459) translate(-400px, 4020px);
}
g.VenueSection.Section202 text {
    transform: scale(1.6, 1.6) translate(290px, 600px);
}

g.VenueSection.Section203 {
    transform: scale(.47, .47) translate(2480px, 3900px);
}
g.VenueSection.Section203 text {
    transform: scale(1.5, 1.5) translate(210px, 680px);
}

g.VenueSection.Section204 {
    transform: scale(.51, .51) translate(2730px, 4320px);
}
g.VenueSection.Section204 text {
    transform: scale(1.4, 1.4) translate(260px, 410px);
}
/* end section specific classes */



g.VenueSection {
    fill: #dbd5ed;
    stroke: #9881db;
    z-index: 9999;
}

g.VenueSection.VenueSection--disabled {
    fill: #ffffff;
    stroke: #707070;
}

g.VenueSection.VenueSection--selected {
    fill: #e6f4f3;
    stroke: #777777;
}

g.VenueSection:hover {
    fill: #e6f4f3;
    stroke: #3d9cae;
    cursor: pointer;
}

g.VenueSection.VenueSection--selected:hover {
    fill: #e6f4f3;
    stroke: #777777;
    cursor: pointer;
}

g.VenueSection.VenueSection--disabled:hover {
    fill: #ffffff;
    stroke: #707070;
}

g.VenueSection text {
    font-family: 'Helvetica';
    fill: #000;
    stroke: #2e2e2e;
}

g.VenueSection:hover text {
    fill: #000;
    stroke: #2e2e2e;
    cursor: pointer;
}

g.VenueSection.VenueSection--selected:hover text {
    fill: #000;
    stroke: #2e2e2e;
    cursor: pointer;
}

g.VenueSection.VenueSection--disabled:hover text {
    fill: #000;
    stroke: #2e2e2e;
}