.App {
  text-align: center;
  font-family: 'Helvetica';
}

.App-logo {
  height: 15vmin;
  width: 15vmin;
  max-width: 40px;
  max-height: 40px;
  pointer-events: none;
  transform: rotate(-14deg);
}

.App-header {
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: fixed;
  padding: 15px;
  padding-left: 30px;
  top: 0px;
  left: 0px;
}

.App-link {
  color: #61dafb;
}

.App-logoWrapper {
  position: absolute;
  left: 30px;
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 21px;
  margin-left: 10px;
  color: #202537;
}