.EventPage {
    height: 100vh;
    min-width: 1200px;
}

.EventPage-container {
    display: flex;
    padding-top: 90px;
}

.EventPage-resultsItem--right button:hover {
    cursor: pointer;
}

.EventPage .EventPage-header {
    height: 100px;
    width: 100vw;
    min-width: 1200px;
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 1px 3px 8px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 1px 3px 8px -5px rgba(0,0,0,0.37);
    box-shadow: 1px 3px 8px -5px rgba(0,0,0,0.37);
}

.EventPage-results {
    width: 30vw;
    overflow: scroll;
    min-width: calc(.3 * 1200px);
    height: calc(100vh - 90px);
    -webkit-box-shadow: 0px 14px 13px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 14px 13px -4px rgba(0,0,0,0.26);
    box-shadow: 0px 14px 13px -4px rgba(0,0,0,0.26);
}

.EventPage-logo {
    height: 50px;
    width: 50px;
    transform: rotate(-14deg);
    margin-left: 50px;
}

.EventPage-logoLink:hover {
    cursor: pointer;
}

.EventPage-resultsItem {
    padding: 20px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9a9a9a;
}

.EventPage-resultsItem--left {
    font-size: 18px;
    font-weight: 500;
}

button.EventPage-cartBtn {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #4a4f54;
    color: #fff;
    width: 142px;
    padding: 10px 20px;
}

.EventPage-resultsItem--right button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #004ca0;
    color: #fff;
    width: 142px;
    padding: 10px 20px;
}

.EventPage-resultsItem--price {
    padding: 20px 0 0 20px;
    text-align: right;
}

.EventPage-venueMap {
    width: 45vw;
    min-width: calc(.45 * 1200px);
    margin-top: -100px;
    padding-left: 50px;
    overflow: scroll;
}

button.addToCartBtn {
    background-color: #e7e7e7;
}

button.addToCartBtn:hover {
    cursor: default;
}

.EventPage-filter {
    width: 25vw;
    min-width: calc(.25 * 1200px);
    height: calc(100vh - 90px);
    -webkit-box-shadow: 0px 14px 13px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 14px 13px -4px rgba(0,0,0,0.26);
    box-shadow: 0px 14px 13px -4px rgba(0,0,0,0.26);
}

.EventPage-filterItem {
    width: calc(100% - 80px);
    padding: 35px 40px;
    border-top: 1px solid #9a9a9a;
}

.EventPage-numOfTickets {
    margin-top: 15px;
}

.EventPage-numOfTickets button {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #0384e7;
    border-radius: 3px;
    background-color: #fff;
    color: #27292c;
    padding: 10px;
    margin-left: 7px;
}

.EventPage-numOfTickets button:hover {
    background-color: #efefef;
    cursor: pointer;
}

.EventPage-headerDetails {
    margin-left: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.EventPage-headerDetails img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    object-fit: cover;
}