.Home {
    text-align: center;
    font-family: 'Helvetica';
    color: #202537;
    min-width: 1200px;
}

.Home-message {
    margin-top: 15px;
}

.Home-cartIcon {
    width: 30px;
}

a.Home-detailsLink, a.Home-detailsLink:hover {
    text-decoration: none;
}

.Home-eventImg {
    float: left;
    width:  100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.Home-logoTextBG {
    background: #4978a6;
    transform: perspective(20px) rotateX(-1deg) rotateY(-3deg);
    margin: 10px;
    width: 140px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-logo {
    height: 15vmin;
    width: 15vmin;
    max-width: 40px;
    max-height: 40px;
    pointer-events: none;
    transform: rotate(-14deg);
}

.Home-header {
    background-color: #ffffff;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    width: calc(100% - 200px);
    justify-content: space-between;
    padding: 100px;
    padding-bottom: 0;
    padding-top: 30px;
    background: transparent;
}

.Home-link {
    color: #61dafb;
}

.Home-logoWrapper {
    display: flex;
    align-items: center;
}

.Home-nav {
    margin-left: 75px;
}

.Home-logoTitleWrapper {
    position: relative;
}

.Home-title {
    position: absolute;
    left: 20px;
    top: 24px;
    font-size: 24px;
    color: #fff;
    font-family: "Helvetica";
    margin-left: 20px;
    z-index: 999;
}